/*Put this in your den description:   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/CSShelp/amy./AMy.css" />       */
body {background: url("https://i.vgy.me/sUwxkY.png") fixed;background-repeat: no-repeat;background-size: cover;color: #000;}

.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #29201C;
}

h1, h3 , .sidebar h3 {
font-family: Arial !important;
text-align: left;
color: #29201C;
border-bottom: 1px solid #29201C;
}

/* Buttons */
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(77, 72, 51, 0.21);
color: #29201C;
border: 1px solid #29201C;
text-shadow: none;
font-weight: bold;
font-size: 14px;
border-radius: 5px;
}
 
 
/* Links */
 
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #29201C;
}
 
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 1px solid #29201C;
color: #29201C;
}
 
/* Topbar */
 
.topbar {
background: rgba(77, 72, 51, 0.70);
border: 1px solid #29201C;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.badge {
background: rgba(77, 72, 51, 0.21);
border: 1px solid #29201C;
}
 
/* Navigational Bar */
 
.main {
background: rgba(77, 72, 51, 0.21);
border: 1px solid #29201C;
box-shadow: none;
}
 
.navbar {
background: rgba(77, 72, 51, 0.21);
border-bottom: 1px solid #29201C;
color: #29201C;
}
 
.navbar-default .navbar-nav > li > a {
color: #29201C;
}
 
.navbar-default .navbar-nav li a:hover {
color: #E9EBDF;
background: #29201C;
border-left: 1px solid #29201C;
border-right: 1px solid #29201C;
} 
 
 
 
/* Sidebar */
 
.sidebar {
background: rgba(77, 72, 51, 0.21);
border: 0px solid #29201C;
border-bottom: 1px solid #29201C;
border-left: 1px solid #29201C;
color: #29201C;
}
 
.col-md-3 .panel {
background: rgba(77, 72, 51, 0.21);
border: 1px solid #29201C;
box-shadow: none;    
}
 
.progress-bar {
background: #5B634F;
}
 
.progress {
background: #8F9684;
border: 1px solid #29201C;
}
 
 
/* Chat */
 
.chat_light, .chat_dark {
background: rgba(77, 72, 51, 0.21);
font-size: 11px;
color: #29201C;
}

.chatContainer {
border: 1px solid #29201C;
}
 
.userstolen {
background: none;
}

.alert-danger {
color: #29201C;
background: rgba(77, 72, 51, 0.21);
border: 1px solid #29201C;
}

.alert-success {
color: #29201C;
background: rgba(77, 72, 51, 0.21);
border: 1px solid #29201C;
}

.breadcrumb {
background:  rgba(77, 72, 51, 0.21);
font-size: 13px;
border: 1px solid #29201C;
}
 
.breadcrumb>.active {
color: #29201C;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #29201C;
}
 
.col-md-9{
    background:none;
    border:0;
    position:relative;
    overflow:visible;
}
 
/* Tables */
 
#lion_image {
border-radius: 25px;
overflow: hidden;
border: 1px solid #29201C;
}
 
.table, .item {
border: 1px solid #29201C;
background: rgba(77, 72, 51, 0.21);
border-collapse: separate;
}

.table .right, .table .right_odd {
background: none;
border: 0px solid #29201C;
}

div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #29201C;
background: rgba(77, 72, 51, 0.21);
color: #29201C;
}

.cave-grid, div .left, .mound-grid {
border: 1px solid #29201C;
background: #5B634F;
color: #29201C;
}

.table .left {
border: 1px solid #29201C;
background: rgba(77, 72, 51, 0.21);
color: #29201C;
}

.inner-table .right {
background: rgba(77, 72, 51, 0.21);
border: 1px solid #29201C;
border-left: none;

}
/*Navbar Lioden Logo*/
img[src$="https://i.postimg.cc/nrgvC7wq/CORVETTE.jpg"] {
content: url('https://i.imgur.com/LiodenLogoReplacement.png');
}
/*Unsorted Lions*/
img[src$="unsortedlionsbanner.png"] {
content: url('https://i.vgy.me/QoYmzz.png')!important;
}

/*Nesting*/
img[src$="nestingbanner.png"] {
content: url('https://i.vgy.me/QoYmzz.png')!important;
}

/*Overview*/
img[src$="overviewbanner.png"] {
content: url("https://i.vgy.me/QoYmzz.png")!important;
}

/*Default Mound Image*/
img[src$="beetleunsorted.png"] {
content: url("https://i.vgy.me/GtOYQF.png") !important;
}

img[src$="beetlemound.png"] {
content: url("https://i.vgy.me/GtOYQF.png") !important;
}

img[src$="addbeetlemound.png"] {
content: url("https://i.vgy.me/GtOYQF.png") !important;
}
/*Default*/
img[src$="cavedefault.jpg"] {
content: url("https://i.vgy.me/QoYmzz.png") !important;
}
/*Unused Slot*/
img[src$="caveunused.jpg"] {
content: url("https://i.vgy.me/QoYmzz.png") !important;
}
/*Navbar Lioden Logo*/
img[src$="logo-full-2.png"] {
content: url('https://static.lioden.com/images/items/Other/FluffyBunny.png');}

.main{
    position: relative;
}





